<h2>Sélection des patients (1 à 4)</h2>
<div class="row group-content">
  <h3>Rechercher un patient :</h3>
  <div class="col-md-12">
    <form name="searchForm" class="search-form" id="searchForm" ng-submit="searchPatient()" novalidate>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="searchInput.firstName" required />
          <div ng-if="searchForm.$submitted || searchForm.firstName.$dirty" ng-messages="searchForm.firstName.$error">
            <div ng-message="required">
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="searchInput.lastName" required />
          <div ng-if="searchForm.$submitted || searchForm.lastName.$dirty" ng-messages="searchForm.lastName.$error">
            <div ng-message="required">
              Ce champ est requis
            </div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="birthDate">Date de naissance</label>
          <md-datepicker name="birthDate" id="birthDate" ng-model="searchInput.birthDate" md-min-date="minBirthDate" md-max-date="maxBirthDate" ng-required="false"></md-datepicker>
        </div>
        <div class="form-group col-md-3">
          <button class="btn btn-primary" type="submit">Rechercher</button>
        </div>
      </div>
    </form>
  </div>

  <div ng-show="searchDone">
    <h4>Résultats de la recherche</h4>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>

          </th>
          <th>
            Prénom
          </th>
          <th>
            Nom
          </th>
          <th>
            Date de naissance
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="patient in searchResult track by $index">
          <td valign="middle">
            <button class="btn btn-primary" ng-disabled="patient.selected === true || selectedPatients.length === 4" ng-click="selectPatient($index)"><span class="glyphicon glyphicon-plus"></span></button>
          </td>
          <td valign="middle">
            {{patient.admin.prenom}}
          </td>
          <td valign="middle">
            {{patient.admin.nom}}
          </td>
          <td valign="middle">
            {{patient.admin['date_de _naissance'] | date : 'dd/MM/yyyy'}}
          </td>
        </tr>
        <tr ng-show="searchResult.length === 0">
          <td>

          </td>
          <td colspan="3">
            Aucun résultat correspondant
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row group-content patients-selected" ng-show="selectedPatients.length > 0">
  <h3>Patients sélectionnés</h3>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>

        </th>
        <th>
          Prénom
        </th>
        <th>
          Nom
        </th>
        <th>
          Date de naissance
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="patient in selectedPatients track by $index">
        <td valign="middle">
          <button class="btn btn-danger" ng-click="unselectPatient($index)"><span class="glyphicon glyphicon-minus"></span></button>
        </td>
        <td valign="middle">
          {{patient.admin.prenom}}
        </td>
        <td valign="middle">
          {{patient.admin.nom}}
        </td>
        <td valign="middle">
          {{patient.admin['date_de _naissance'] | date : 'dd/MM/yyyy'}}
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-default" href="#!/resultats">Voir les risques encourus</a>
</div>
